[submodule "submodules/diff-surfel-rasterization-MCMC"]
	path = submodules/diff-surfel-rasterization-MCMC
	url = https://github.com/hwanhuh/diff-surfel-rasterization-MCMC.git
[submodule "submodules/Viewcrafter"]
	path = submodules/Viewcrafter
	url = https://github.com/Zhaoyibinn/ViewCrafter.git
[submodule "submodules/2DGS-AbsGS-diff-gaussian-rasterization"]
	path = submodules/2DGS-AbsGS-diff-gaussian-rasterization
	url = https://github.com/hjh530/2DGS-AbsGS-diff-gaussian-rasterization.git
[submodule "submodules/vggt"]
	path = submodules/vggt
	url = https://github.com/Zhaoyibinn/vggt.git
[submodule "submodules/TCNN/tiny-cuda-nn"]
	path = submodules/TCNN/tiny-cuda-nn
	url = https://github.com/Zhaoyibinn/tiny-cuda-nn.git
[submodule "submodules/Marigold"]
	path = submodules/Marigold
	url = https://github.com/Zhaoyibinn/Marigold.git
[submodule "submodules/MVSGaussian"]
	path = submodules/MVSGaussian
	url = https://github.com/Zhaoyibinn/MVSGaussian.git
