*.pyc
.vscode
output
build
data
*.ply
**/PKG-INFO
# submodules
**__pycache__**
*.png
*.out
*.npz
**/tmp
scripts
*.egg-info
DTU
*.pth
pilianghua_output
test.xlsx
BMVS_colmap
pilianghua_output2
BMVS_OUT
BMVS_colmap_new
pilianghua_out_new