*.pyc
.vscode
output
build
data
*.ply
**/PKG-INFO
# submodules
**__pycache__**
*.png
*.out
*.npz
**/tmp
scripts
*.egg-info
DTU
*.pth
pilianghua_output
*.xlsx
BMVS_colmap
pilianghua_output2
BMVS_OUT
BMVS_colmap_new
pilianghua_out_new
BMVS_OUT_PACG
BMVS_PACG
PACG_VIS
pilianghua_out_new_rep_psnr
test
pilianghua_out_new_rep
Replica
DTU_raw

gradio_huancun
.gradio
mvsgs_pointcloud
forawrd_model/weights